.home {
  min-height: 85vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mainSection {
  display: flex;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(222,151,0,1) 0%, rgba(214,88,0,1) 100%);
}

.homeTitleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 22%;
  margin-right: 10%;
}

.homeTitle {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  z-index: 3;
}

.homeSubtitle {
  color: #fff;
  font-size: 26px;
  margin-top: 10px;
  margin-right: 10%;
  z-index: 3;
}

.iconsContainer {
  display: flex;
  z-index: 2;
  margin-top: 25%;
  margin-bottom: 5%;
  gap: 10px;
  overflow: hidden;
}

.icon {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.icon:hover {
  transform: translateY(-20px);
}

.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}

.icon:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

.walletImage{
  top: 150px;
  left: 50%;
  position: absolute;
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .walletImage {
    display: none;
  }
  .onChainImg {
    display: none;
  }
  .bussinesImg {
    display: none;
  }
}

.mainSectionSquare {
  position: absolute;
  width: 500px;
  height: 400px;
  opacity: 5%;
  background-color: white;
  bottom: 0;
  right: 0px;
  border-radius: 10px;
  z-index: 1;
}

.mainSectionMediumSquare {
  position: absolute;
  width: 400px;
  height: 300px;
  opacity: 10%;
  background-color: white;
  bottom: 0;
  right: 0px;
  border-radius: 10px;
  z-index: 1;
}

.mainSectionSmallSquare {
  position: absolute;
  width: 300px;
  height: 200px;
  opacity: 15%;
  background-color: white;
  bottom: 0;
  right: 0px;
  border-radius: 10px;
  z-index: 1;
}

/* use case section */

.useCasesSection {
  display: block;
  width: 100%;
  min-height: 300px;
  background: radial-gradient(circle, rgba(255,195,106,1) 0%, rgba(255,194,141,1) 100%);
  position: relative;
  text-align: center;
}

.useCasesContainer {
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  text-align: center;
  align-items: center;
}

.useCase {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.useCaseImages {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: none;
  border-bottom: none;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.useCase p {
  max-width: 200px;
  margin-top: 1rem;
  font-size: 18px;
  text-align: center;
}

/* how works section */

.howWorksSection {
  display: block;
  width: 100%;
  height: 800px;
  background: radial-gradient(circle, rgba(222,151,0,1) 0%, rgba(214,88,0,1) 100%);
}

.howWorksTitleContainer {
  margin-top: 50px;
  margin-left: 15%;
  max-width: 400px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  z-index: 3;
}

.howWorksTextContainer {
  margin-top: 40px;
  margin-left: 22%;
  display: grid;
  max-width: 400px;
  height: 600px;
  margin-right: 10%;
}

.whyTextContainer {
  height: 132px;
  margin-right: 5px;
  font-size: 18px;
}

.howWorksSubtitle {
  color: #fff;
  font-size: 18px;
}

.onChainImg{
  left: 50%;
  top: 145%;
  position: absolute;
}

.verticalLine {
  width: 2px;
  background-color: white;
  position: absolute;
  margin-top: 40px;
  margin-left: 17%;
  max-height: 550px;
  display: flex;
  flex-direction: column;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  position: relative;
  left: -14px;
}

.circle + .circle {
  margin-top: 100px;
}

.howWorksSectionSquare {
  position: relative;
  width: 370px;
  height: 350px;
  opacity: 5%;
  background-color: white;
  top: -300px;
  left: 0px;
  border-radius: 10px;
  overflow: hidden;
}

.howWorksSectionMediumSquare {
  position: relative;
  width: 270px;
  height: 250px;
  opacity: 10%;
  background-color: white;
  top: -550px;
  left: 0px;
  border-radius: 10px;
  overflow: hidden;
}

.howWorksSectionSmallSquare {
  position: relative;
  width: 170px;
  height: 150px;
  opacity: 15%;
  background-color: white;
  top: -700px;
  left: 0px;
  border-radius: 10px;
  overflow: hidden;
}

/* adjust positioning of each subtitle element */

.howWorksSubtitle:nth-of-type(2) {
  margin-top: 12%;
}

.howWorksSubtitle:nth-of-type(3) {
  margin-top: 9%;
}

.howWorksSubtitle:nth-of-type(4) {
  margin-top: 9%;
}

.howWorksSubtitle:nth-of-type(5) {
  margin-top: 1.5%;
}

/* why brick section */

.whyBrickSection {
  display: block;
  width: 100%;
  background: radial-gradient(circle, rgba(255,195,106,1) 0%, rgba(255,194,141,1) 100%);
  min-height: 600px;
  position: relative;
  text-align: center;
}

.contentContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0 auto 20px auto;
  max-width: 800px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tickImage {
  margin-left: 10px;
  position: relative;
  flex: 1 0 0;
  max-width: 100px;
  height: 100px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: none;
  border-bottom: none;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}


.whiteContainer {
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
}

.whyTitleContainer {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

/* promo demo section */

.promoDemoSection {
  display: block;
  width: 100%;
  min-height: 900px;
  background: radial-gradient(circle, rgba(222,151,0,1) 0%, rgba(214,88,0,1) 100%);
}

.promoTitleContainer {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 5%;
  max-width: 700px;
  font-weight: bold;
  z-index: 3;
  gap: 20px;
}

.promoTitle {
  margin-top: 20px;
  color: #fff;
  font-size: 25px;
}

.promoTextContainer {
  margin-top: 40px;
  margin-left: 22%;
  display: grid;
  max-width: 600px;
  height: 520px;
  margin-right: 10%;
}

.promoInnerTextContainer {
  height: 30px;
  margin-right: 10px;
  font-size: 18px;
  z-index: 3;
}

.promoSubtitle {
  color: #fff;
  font-size: 18px;
  z-index: 3;
}

.button {
  cursor: pointer;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 17%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  background: rgb(195,170,34);
  background: radial-gradient(circle, rgba(222,151,0,1) 0%, rgba(214,88,0,1) 100%);
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
}

.bussinesImg {
  margin-top: 0px;
  left: 50%;
  position: absolute;
  z-index: 2;
}

/* coming next section */

.comingNextSection {
  display: block;
  width: 100%;
  background: radial-gradient(circle, rgba(255,195,106,1) 0%, rgba(255,194,141,1) 100%);
  min-height: 250px;
  position: relative;
  text-align: center;
}

.featuresTitle {
  color: #000;
  margin-top: 20px;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 30px;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
  position: relative;
  justify-content: center;
}

.feature {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  position: relative;
}

.feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20;
  width: 80%;
  border-top: 1px solid #FF5733;
}