@import '../../styles/mixins.scss';

.heading {
  padding-bottom: 75px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 0.5fr));
  justify-content: center;
  white-space: nowrap;
}

.item {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
